<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="com.parasoft.ft.utilities.TestListener"/>
  </listeners>
  <test name="Test">
  <parameter name="browser" value="${env_browser}"></parameter>
  <parameter name="endRow" value="1"></parameter>
  <parameter name="startRow" value="1"></parameter>
  <parameter name="csvFile" value="${env_csvData}"></parameter>
    <classes>
      <class name="com.parasoft.ft.AccountsOverViewAndTransferFunds"/>
      <class name="com.parasoft.ft.GoogleFT"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
